@-ms-viewport{
  width: device-width;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    background-color: white;
}
.logo{ 
    top: 50px;
    margin-top: 0px;
    position: absolute;
}
#pic2{
      margin-top: 0px;
      margin-left: 60px;  
      height: 33px;
      width: 110px;
}
@media(max-width: 425px){
  #pic2{
    margin-left: 30px;
    height: 30px;
  }
}
a{
  text-decoration: none;
}
a:hover{
  color: #FCB321; 
}
.navbar{
  position: relative;
  margin-right: 85px;
  background:none;
  border:none;
}
@media (max-width:1250px)
{.navbar{
      margin-right: 40px;
      }
}
@media (max-width:1150px)
{.navbar{
      margin-right: 20px;
      }
}
@media (max-width:1050px)
{.navbar{
      margin-right: 0px;
      }
}
@media (max-width:1000px)
{.navbar{
      margin-right: 40px;
      }
}
@media(max-width: 425px){
  .navbar{
    margin-right: 20px; 
  }
}
.home{
  float: left;
  margin-right: 25px;
  color: #242424;
  opacity: 0.6;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 450;
  font-style: normal;
  font-stretch: normal;
  padding-top: 16px;
  letter-spacing: normal;
}
@media (max-width:1000px)
{.home{
      float: right;
      margin-top: -8px;
      margin-right: 10px;
      padding-top: 0px;
      }
}
.home:hover{
  color: #FCB321;
  text-decoration: underline;
}
.AboutUs{
  float: left;
  margin-right: 25px;
  opacity: 0.6;
  color:#242424;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 450;
  font-style: normal;
  font-stretch: normal;
  padding-top: 16px;
  letter-spacing: normal;
}
@media (max-width:1000px)
{.AboutUs{
      float: right;
      margin-top: -8px;
      margin-right: 10px;
      padding-top: 0px;
      }
}
.AboutUs:hover{
  color: #FCB321;
  text-decoration: underline;
}
.Donation{
  float: left;
  margin-right: 25px;
  opacity: 0.6;
  color: #242424;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 450;
  font-style: normal;
  font-stretch: normal;
  padding-top: 16px;
  letter-spacing: normal;
} 
@media (max-width:1000px)
{.Donation{
      float: right;
      margin-right: 10px;
      margin-top: -8px;
      padding-top: 0px;
      }
}
.Donation:hover{
  color: #FCB321;
  text-decoration: underline;
}
.join{
  float: left;
  margin-right: 10px;
  opacity: 1;
  color: #FCB321;
  font-family: Montserrat;
  font-size: 18px;
  text-decoration: underline;
  font-weight: 450;
  font-style: normal;
  font-stretch: normal;
  padding-top: 16px;
  letter-spacing: normal;
}
@media (max-width:1000px)
{.join{
      float: right;
      margin-top: -8px;
      padding-top: 0px;
      }
}
.navbar-inverse .navbar-toggle{
  border-color: #F9BF3B;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
  background-color: #fff;
}
.icon-bar{
  border-top : 2px solid #F9BF3B;
}
@media(max-width: 800px){
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #F9BF3B;
    width: 90%;
    margin-left: 10%;
}
}
#bg{
  position: absolute;
  right: 0px;
  margin-top: 170px;
}
.emptyMsg{
  margin: auto;
  margin-top: 300px;
  width: 100%;
}
@media(max-width: 430px){
  .emptyMsg{
    margin-top: 250px;
    width: 90%
  }
}
#msg{
  text-align: center;
  font-size: 42px;
  font-family: Montserrat;
  opacity: 0.5;
  color: #242424;
}
@media(max-width: 400px){
  #msg{
    font-size: 26px;
  }
}
.sub13{
       margin-top: 400px;
       background-color: #ffc107;
}
@media(max-width: 600px){
  .sub13{
    margin-top: 220px;
  }
}
.container{
  width: 100%;
}
#pic13{
      margin-left: 20%;
      margin-top: 80px;
      width: 300px;
}
@media(max-width: 425px){
  #pic13{
    margin-left: 0px;
  }
}
.sub14{
      padding-left: 10%;
      margin-top: 40px;
      padding-top: 40px;
}
#contact{
  font-family: montserrat;
  font-size: 47px;
  font-weight:600;
  font-style: normal;
  font-stretch: normal;
  color: white;
  letter-spacing: normal;
}
#phone{
  margin-bottom: 5px;
  font-family:  montserrat;
  font-size: 14px;
  font-weight: lighter;
  font-style: normal;
  font-stretch: normal;
  color:white;
  letter-spacing: normal;  
}
#no{
  font-size: 20px;
  color: white;
  font-family: montserrat;
  font-weight: 570;
  margin-top: 0px;
}
@media(max-width: 425px){
  #no{
    font-size: 16px;
  }
}
#email1{
  margin-bottom: 5px;
  font-family: montserrat;
  font-size: 14px;
  font-weight: lighter;
  font-style: normal;
  font-stretch: normal;
  color:white;
  letter-spacing: normal;
}
#mail{
  margin-bottom: 25px;
  font-size: 20px;
  color: white;
  font-family: montserrat;
  font-weight: 570;
  margin-top: 0px;
}
@media(max-width: 425px){
  #mail{
    font-size: 16px;
  }
}
#pic14{
  width: 32px;
  height: 34px;
}
.footer{
  text-align: center;
  width: 100%;
  margin: auto;
  margin-top: 50px;
  padding-bottom: 5px;
  background-color: #ffc107;
  color: #ffffff;
}