table{
	margin-left: 140px;

}
#image{
	width: 600px;

}
#image1{
	width: 600px;
}
#align{
	align-content: center;
	padding-left: 90px;
}
#num1{
	
  font-family: OpenSans;
  font-size: 90px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  
  letter-spacing: normal;
  text-align: left;
}
#con1{
	/* width: 150px;*/
  height: 29px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  
  letter-spacing: normal;
  text-align: left;
  
}
#con2{
	width: 250px;
  height: 49px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  
  letter-spacing: normal;
  text-align: left;
}